<?xml version="1.0" encoding="UTF-8"?>
<configdata>
	<application>
		<!-- mit ison kann der gesamte Service ausgeschalt werden -->
		<isOn>true</isOn>
	</application>

	<fbConsole>
		<!-- mit ison kann die Firebug console ausgeschaltet werden ausgeschalt 
			werden -->
		<isOn>true</isOn>
		<logIsOn>true</logIsOn>
		<dbIsOn>true</dbIsOn>
		<dbQuerys>Alle DB abfragen:</dbQuerys>
	</fbConsole>


	<!--<database> <adapter>Pdo_Mysql</adapter> <params> <host>db1033.mydbserver.com</host> 
		<dbname>usr_p41239_3</dbname> <username>p41239d1</username> <password>mCmJzsfm54</password> 
		</params> </database> -->
	<database>
		<prafix></prafix>
		<adapter>Pdo_Mysql</adapter>
		<params>
			<host>localhost</host>
			<dbname>citro</dbname>
			<username>remo</username>
			<password>t6yLCVq7jnYu8qx2</password>
			<charset>utf8</charset></params>
	</database>

	<cacheRightsAcl isOn="false">
		<frontendOption>
			<lifetime>10</lifetime>
			<automatic_serialization>true</automatic_serialization>
			<caching>true</caching>
		</frontendOption>
		<backendOption>
			<cache_dir>C:/xampp/htdocs/service/sys/webserv/data/cach/rights/</cache_dir>
		</backendOption>
	</cacheRightsAcl>

	<email>
		<smtp>
			<auth>login</auth>
			<username>p40180p3</username>
			<password>doSGFHuJ</password>
			<server>mail.remoseine.de</server>
		</smtp>
	</email>

	<servicFabric>
		<daten>
			<name>Remo Bluhm</name>
			<email>info@flying-ideas.de</email>
		</daten>
	</servicFabric>

	<administrator>
		<daten>
			<name>Remo Bluhm</name>
			<email>info@flying-ideas.de</email>
		</daten>
	</administrator>


	<serviceResource>

		<allDirectory>
			<dir>C:\xampp\htdocs\service\sys\v1.1\service</dir>
		</allDirectory>

		<service>
			<orte isOn="true">
				<filename>Orte.php</filename>
				<classname>Orte</classname>
			</orte>
			<RightsManagement isOn="true">
				<actions>
					<getAllUser isOn="true"></getAllUser>
					<setUser></setUser>
				</actions>
			</RightsManagement>
		</service>

	</serviceResource>





	<protocollist>
		<!--Das Element definiert auch den Type dieser darf max 3 zeichen enthalten -->
		<aeskey>
			<name>aessave</name>
			<!--Das Element definiert die gesamte Länge des protokolles alles was 
				danach kommt sind die Nutzdaten -->
			<protocollength>74</protocollength>
			<filename>Protocol_Aes.php</filename>
			<classname>Protocol_Aes</classname>
		</aeskey>
		<sha1hasch>
			<name>sha1hasch</name>
			<!--Das Element definiert die gesamte Länge des protokolles alles was 
				danach kommt sind die Nutzdaten -->
			<protocollength>74</protocollength>
			<filename>Protocol_sha1hasch.php</filename>
			<classname>Protocol_Sha1hasch</classname>
		</sha1hasch>
		<md5hasch>
			<name>md5hasch</name>
			<!--Das Element definiert die gesamte Länge des protokolles alles was 
				danach kommt sind die Nutzdaten -->
			<protocollength>92</protocollength>
			<filename>Protocol_md5hasch.php</filename>
			<classname>Protocol_md5hasch</classname>
		</md5hasch>
		<json>
			<name>Json</name>
			<!--Das Element definiert die gesamte Länge des protokolles alles was 
				danach kommt sind die Nutzdaten -->
			<protocollength>5</protocollength>
			<filename>Protocol_Json.php</filename>
			<classname>Protocol_Json</classname>
		</json>
	</protocollist>
</configdata>